$color-gray-lightest: #f2f4f8;
$color-gray-lighter: #dde1e6;
$color-gray-light: #c1c7cd;
$color-gray: #878d96;
$color-gray-dark: #343a3f;
$color-gray-darker: #21272a;
$color-gray-darkest: #121619;

$color-primary-light: #3ddbd9;
$color-primary: #08bdba;
$color-primary-dark: #009d9a;

$color-success: #24a148;
$color-danger: #fa4d56;

$font-size: 1rem;
$font-size-small: 0.8rem;
$font-size-medium: 1.25rem;
$font-size-big: 1.5rem;
$font-size-large: 2rem;

$space: 16px;
$space-small: 8px;
$space-medium: 24px;
$space-big: 32px;
$space-large: 48px;

$radius-small: 2px;
$radius: 4px;
$radius-rounded: 50%;

$breakpoint-x-small: 576px;
