@use 'variables' as *;
@use 'blocks/button';

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  color: $color-gray-dark;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
#root {
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
}

a {
  color: $color-primary;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}
